.player-controller-container {
  position:absolute;
  bottom:20px;
  right:0;
  .player-controller {
    position:relative;
    playhead {
      position:absolute;
      height:5px;
      background-color:$brand-primary;
      border-radius:5px;
    }
    recording {
      position:absolute;
      width:100%;
      height:5px;
      background-color:#eee;
      border-radius:5px;
      z-index:1;
    }

  }
}
