/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

canvas {
  position: fixed !important;
  width: 75% !important;
  height: 100% !important;
  top: 0 !important;
  right: 0 !important;
  left: auto !important;
}

#connect-leap {
  position:absolute;
  top:50% !important;
  left:62.5% !important;
  margin-top:-118px;
  margin-left:-250px;
  z-index:1;
  width:auto !important;
}

.modal-header {
  background-color:$brand-primary;
  color:#fff;
}

// loading spinner

.loading {
  position:absolute;
  top:50%;
  left:62.5%;
  margin-top:-250px;
  margin-left:-118px;
  z-index:1;
}

.loading-spin {
  -webkit-transform-origin: 50% 50%;
  transform-origin:50% 50%;
  -ms-transform-origin:50% 50%;
  -webkit-animation: spin .75s infinite linear;
  -moz-animation: spin .75s infinite linear;
  -o-animation: spin .75s infinite linear;
  animation: spin .75s infinite linear;
  background-color: transparent;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display:block;
  border: 10px solid $brand-primary;
  border-top: 10px solid #fff;
  border-left: 10px solid #fff;
  border-right: 10px solid #fff;
  border-radius: 100px;
  box-shadow: 0 0 15px desaturate($brand-primary,25%), inset 0 0 15px desaturate($brand-primary,25%);
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
