.controls {
  position:fixed;
  bottom:0;
  height:100px;
  z-index:1;

  .gestures {
    padding-bottom:15px;
    .btn-default {
      position:relative;
    }
    .selected {
      background-color:$brand-primary;
      color:#fff;
      border-color:$brand-primary;
    }
  }
}
