<div class="container">
<div class="loading" ng-show="view.loading"><span class="loading-spin"></span></div>
  <div class="controls">
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-default" ng-click="record()">Record</button>
        <button class="btn btn-default" ng-disabled="!player.recording" ng-click="save()">Save</button>
      </div>
    </div>
    <div class="row gestures">
      <div class="col-md-12">
        <button ng-repeat="gesture in gestures" class="btn btn-default" ng-click="play(gesture.id)">{{$index}}</button>
      </div>
    </div>
  </div>
</div>
