<div class="container">
<div class="loading" ng-show="main.view.loading"><span class="loading-spin"></span></div>
  <div class="controls">
    <div class="row gestures">
      <div class="col-md-12 btn-group">
        <button ng-repeat="gesture in main.gestures" class="btn btn-default" ng-class="{ selected : gesture.id === main.view.currentGestureId }" ng-click="main.selectGesture(gesture.id)">{{gesture.name}}</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-default" ng-click="main.record()"><span class="glyphicon glyphicon-record"></span> Record</button>
        <button class="btn btn-default" ng-disabled="!main.player.recording" ng-click="main.play()"><span class="glyphicon glyphicon-play"></span> Play</button>
        <button class="btn btn-default" ng-disabled="!main.player.recording" ng-click="main.delete()"><span class="glyphicon glyphicon-trash"></span> Delete</button>
      </div>
    </div>
  </div>
</div>
